@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}




/* header */
header {
    width: 100%;
    padding: 20px 0;
    background: #fff;
}

.header-inner {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; /* わかんない */
}

.logo {
    font-size: 24px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

.img-logo {
  width: 100%;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: opacity .3s;
}

nav a:hover {
    opacity: .7;
    text-decoration: none;
}


/* Main visual */
#main-visual {
    width: 100%;
    padding: 80px 0;
    background-color: #fff;
}

#main-visual .inner {
    width: 83%;
    display: flex;
    margin: 0 auto;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.main-visual .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}

.main-visual .text .img-logo {
  width: 100%;
}

#main-visual .logo {
    font-family: "Pacifico", cursive;
    font-size: 96px;
    font-weight: normal;
    line-height: normal;
    color: #000;
}

#main-visual .p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #000;
}

#main-visual img {
    width: 55%;
    background-color: #ccc;
}


/* section(共通) */

section {
    width: 100%;
    padding: 80px;
}

.sec-heading {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    color: #000;
    margin-bottom: 40px;
}

/***** Section 1 *****/
#sec-1 {
  background-color: #343434; /* 背景色 */
  color: #fff;
}

#sec-1 .sec-heading {
  color: #fff;
}

#sec-1 .inner {
  width: 1000px; /* 固定幅 */
  margin: 0 auto; /* 中央揃え */
  display: flex; /* 横並び */
  gap: 40px; /* 要素間 */
  justify-content: space-between; /* 両端寄せ */
  flex-wrap: wrap; /* 折返し有効 */
}

#sec-1 .sec-heading {
  width: 100%; /* 横幅全部 */
  margin-bottom: 60px; /* 下余白 */
}

#sec-1 .text {
  width: 550px; /* テキスト幅 */
  display: flex; /* 縦並び */
  flex-direction: column; /* 縦方向 */
  gap: 40px; /* 行間 */
}

#sec-1 .text p {
  font-size: 16px; /* 文字サイズ */
  font-weight: normal; /* 太さ */
  line-height: 24px; /* 行間 */
}

#sec-1 img {
  width: 400px; /* 画像幅 */
  height: 533px; /* 画像高さ */
  background-color: #ccc; /* 仮背景 */
  object-fit: cover; /* トリミング調整 */
}

/***** Section 2 *****/
#sec-2 {
  background-color: #eee; /* 背景色 */
  position: relative; /* 絶対配置の基準 */
}

#sec-2 .inner {
  width: 1200px; /* 固定幅 */
  margin: 0 auto; /* 中央揃え */
  position: relative; /* 見出し位置の基準 */
}

#sec-2 p {
  width: 500px; /* テキスト幅 */
  margin-bottom: 20px; /* 下余白 */
  font-size: 16px; /* 文字サイズ */
  font-weight: normal; /* 太さ */
  line-height: 24px; /* 行間 */
  color: #000; /* 色 */
}

#sec-2 img {
  width: 100%; /* 横幅いっぱい */
  
  background-color: #ccc; /* 仮背景 */
  object-fit: cover; /* トリミング */
  margin-bottom: 20px; /* 下余白 */
}

#sec-2 .sec-heading {
  position: absolute; /* 絶対配置 */
  top: .25em; /* 上位置 */
  right: -1em; /* 右位置 */
  font-size: 64px; /* 大見出し */
  font-weight: bold; /* 太字 */
  line-height: normal; /* 行間 */
  color: #000; /* 色 */
  white-space: nowrap; /* 改行しない */
}

/***** Section 3 *****/
#sec-3 {
  background-color: #eee; /* 背景色 */
}

#sec-3 .inner {
  width: 1000px; /* 固定幅 */
  margin: 0 auto; /* 中央揃え */
  display: flex; /* 横並び */
  gap: 40px; /* 間隔 */
  justify-content: space-between; /* 両端寄せ */
  flex-wrap: wrap; /* 折返し可 */
}

#sec-3 .sec-heading {
  width: 100%; /* 横幅全部 */
  margin-bottom: 60px; /* 下余白 */
  text-align: center; /* 中央揃え */
}

#sec-3 figure {
  width: 200px; /* 幅 */
  display: flex; /* 縦並び */
  flex-direction: column; /* 縦方向 */
  gap: 20px; /* 行間 */
}

#sec-3 figure img {
  width: 200px; /* 画像幅 */
  height: 200px; /* 画像高さ */
  background-color: #ccc; /* 仮背景 */
  object-fit: cover; /* トリミング調整 */
}

#sec-3 figcaption {
  font-size: 16px; /* 文字サイズ */
  font-weight: normal; /* 太さ */
  line-height: 24px; /* 行間 */
  color: #000; /* 色 */
}

/***** Footer *****/
footer {
  width: 100%; /* 横幅いっぱい */
  padding: 20px 0; /* 上下余白 */
  background-color: #666; /* 背景 */
  display: flex; /* 縦並び */
  flex-direction: column; /* 縦方向 */
  justify-content: center; /* 中央揃え */
  align-items: center; /* 中央揃え */
  gap: 20px; /* 要素間スペース */
  text-align: center; /* 中央寄せ */
}

footer .logo {
  font-family: "Pacifico", cursive; /* ロゴフォント */
  font-size: 40px; /* 文字サイズ */
  font-weight: normal; /* 太さ */
  line-height: normal; /* 行間 */
  color: #fff; /* 色 */
}

.copyright {
  font-size: 14px; /* 文字サイズ */
  font-weight: normal; /* 太さ */
  line-height: normal; /* 行間 */
  color: #fff; /* 白文字 */
}